<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Royal Bank</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <!--{{fullname}}-->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href=""  (click)="logout()">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="home"></span>
              Deposit Money <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/withdraw">
              <span data-feather="file"></span>
              Withdraw Money
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sendmoney">
              <span data-feather="shopping-cart"></span>
              Send Money
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Clients
            </a>
            <ul >
              <li class="nav-item">
                <a class="nav-link" routerLink="/createAccount">
                  <span data-feather="shopping-cart"></span>
                  Create Bank Account
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Issue ATM Card
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  About Client
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Withdraw Money </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <h6>You logged as  Mr.<b>{{fullname}}</b></h6>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 order-md-1">

            <form  #accform="ngForm">
              <h5><b>Withdraw Information</b></h5>
              <hr class="mb-4">
              <div class="row">

                <div class="col-md-10 mb-3">
                  <label for="fname">Account Number</label>
                  <input type="text" class="form-control" id="fname" placeholder="Acc001"   name="fname" [(ngModel)]="accno">
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <label for="fname">       </label>
                  <button class="btn btn-warning" (click)="findByID()">Search</button>

                </div>
                <div class="col-md-6 mb-3">
                  <label for="mname">Withdrawer  Name </label>
                  <input type="text" class="form-control" id="mname" placeholder=""   name="mname" [(ngModel)]="widthdrawerName">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lname">Amount</label>
                  <input type="number" class="form-control" id="lname" placeholder=""   name="lname" [(ngModel)]="amount">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>



              </div>
              <!--<div class="row">-->

              <!--<div class="col-md-4 mb-3">-->
              <!--<label for="state">State</label>-->
              <!--<select class="custom-select d-block w-100" id="state" required>-->
              <!--<option value="">Choose...</option>-->
              <!--<option>California</option>-->
              <!--</select>-->
              <!--<div class="invalid-feedback">-->
              <!--Please provide a valid state.-->
              <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-3 mb-3">-->
              <!--<label for="zip">Zip</label>-->
              <!--<input type="text" class="form-control" id="zip" placeholder="" required>-->
              <!--<div class="invalid-feedback">-->
              <!--Zip code required.-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <br>





              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="withdrawMoney()">Withdraw Money</button>
              <button id="btn" hidden #btn data-toggle="modal" data-target="#myModal"></button>
              <br>
            </form>
          </div>

          <div class="col-md-6 order-md-1">
            <h5><b>Account Information</b></h5>
            <hr class="mb-4">

            <div class="col-md-12 mb-3">
              <h5>Client &nbsp; : Mr . {{clientName}} </h5>
              <br>
              <h5>NIC &nbsp; :  {{nic}} </h5>
              <br>
              <h5>Account Type &nbsp; : {{accType}}</h5>
              <br>
              <h5>Account Amount &nbsp; : Rs. {{accamount}}</h5>


            </div>
          </div>

        </div>


      </div>

    </main>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Royal Bank</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{msg}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
      </div>

    </div>
  </div>
</div>


<!--<footer class="my-5 pt-5 text-muted text-center text-small">-->
<!--<p class="mb-1">&copy; 2017-2019 Royal Bank</p>-->
<!--<ul class="list-inline">-->
<!--<li class="list-inline-item"><a href="#">Privacy</a></li>-->
<!--<li class="list-inline-item"><a href="#">Terms</a></li>-->
<!--<li class="list-inline-item"><a href="#">Support</a></li>-->
<!--</ul>-->
<!--</footer>-->


</body>
